<!DOCTYPE html>
<html>
	<head>
		<title>Восприятие</title>
		
		<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" > -->
		<link rel="stylesheet" href="../../../src/style/menu.css">
		<link rel="stylesheet" href="../../../src/style/main.css">

		<script type="text/javascript" src="../../../src/scripts/menuScript.js"></script>
		
		<meta charset="UTF-8">
		<meta name="viewport" charset="utf-8" content="width=device-width, inital-scale=1.0">

	</head>
	<body>
		<header>
			<h1> Восприятие </h1>
			<div class="menuButton">
				<input type=”checkbox” name="menuCheckBox" id="menuCheckBox">
				<img id="imgMenu" onclick="openMenuList()" src="../../../src/pict/menu.png" alt="menuButton">
			</div>
			<!-- ------------------------------Бургер меню---------------------- -->	
			<div class="menuList">
				<dl>
				  <dt> <a id="main" 	  href="#">Главная страница</a> </dt>	
				  <dt> <a id="perception" href="#">Восприятие</a> </dt>
				  <dt> <a id="singing"    href="#">Пение</a> </dt>
				  <dt> <a id="musicActiv" href="#">Музыкально-ритмическая деятельность</a> </dt>
				  <dt> <a id="gamesDMI"   href="#">Игра на ДМИ</a> </dt>
				  <dt> <a id="gamesActiv" href="#">Игровая и творческая деятельность</a> </dt>
				  <dt> <a id="quest"  	  href="#">Анкетирование</a> </dt>
				  <dt> <a id="archive"    href="#">Архив</a> </dt>
				  <dt> <a id="contact"    href="#">Обратная связь</a> </dt>
				</dl>
			</div>
			<!-- Изменение ссылок на элементы -->
			<script>
				changeHref();
			</script>
		</header>
		<div class="head">
			<h2> МУЗЫКА   НАЧИНАЕТСЯ  В  СЕМЬЕ. </h2>
			<h2> УВАЖАЕМЫЕ РОДИТЕЛИ! </h2>
		</div>
		<div class="main">
			<p> 
				Каждый человек  идет  к  музыке  своим  путем. Помогите детям  полюбить  музыку.  
				Детство  -  самая  счастливая  пора  жизни.  Яркость  и  богатство  впечатлений  остаются  
				в  памяти  навсегда.  Праздники   детства…  они греют нас  своим  светом  всю  жизнь!  
				Считается,  что  ребенок,  с  раннего  возраста погруженный  в  атмосферу  радости, 
				вырастет   более  устойчивым  ко  многим  неожиданным  ситуациям,   будет менее 
				подвержен стрессам и разочарованиям. 
			</p>
			<p>
				Ищите  везде  музыку:  дома,  в  городе,  на  природе  (в лесу,  на  даче , на  море,  у  реки и 
				т.д.).  Создайте  дома  фонотеку  записей  классической,  народной,  современной  детской  
				музыки.
			</p>
			<p>
				Приобретайте  музыкальные  игрушки (погремушки,  гармошки,  бубны,  музыкальные  
				книги,  дудочки,  барабаны  и  т. д.)  и  изготавливайте  их  сами.  Тем  самым  Вы  
				создадите  домашний музыкальный уголок.
			</p>
			<p>
				Поощряйте  любое   проявление  песенного  и  танцевального  творчества  малыша,  пойте  
				и  танцуйте  вместе  с  ним,  сочиняйте  песни  и  танцы.
			</p>
			<p>
				Если  Вы  владеете  игрой  на  каком - либо   музыкальном  инструменте,  как  можно  
				чаще  музицируйте,  аккомпанируйте  своему  малышу.
			</p>
			<p>
				Посещайте  со  своим  ребенком    музыкальные  сказки,  театры,  концерты.
				Мы стремимся воспитывать у  детей  любовь  и  интерес  к  музыке,  помочь  каждому  
				ребенку  самореализоваться  в  каком - либо  виде  музыкальной  деятельности,  
				развиваться  более  гармонично,  почувствовать  радость.
			</p>
			<p>
				Приобщившись  к  музыке  в  детстве,  они  не  вырастут равнодушными,  черствыми  
				людьми.  Наш  совместный  труд  приносит  радость  детям,  счастье  родителям,  а  
				результат  этого  труда – счастливое  детство  наших  малышей!
			</p>
			<div class="head" style="position: static;">
				<h2 style="font-family: Segoe UI Symbol;">
				🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶
				</h2>
			</div>
			<div class="head" style="position: static;">
				<h2>
					ЗВУКИ, КОТОРЫЕ НАС ОКРУЖАЮТ.
				</h2>
			</div>
			<p>
				Мир звуков окружает ребёнка с момента рождения (а вернее он живет в нём еще до рождения).
			</p>
			<p>
				В безбрежном звуковом море музыкальные звуки особенно влекут детей, и нам следует помочь ребенку сделать верные шаги, чтобы музыка стала богатейшим достижением его жизни. Постигая мир музыкальных звуков, ребенок учится слушать и слышать окружающий мир, учится выражать музыкальными звуками свои впечатления.
			</p>
			<p>
				Ребёнок не только слышит разные звуки, он различает их. Обычно малыши очень рано что-то мурлычут, напевают. Как правило, детям нравится красивое, выразительное чтение стихов. Малыши тянутся к звукам, к музыке. Давайте помогать им в этом.
			</p>
			<p>
				Очень важно для развития слуха научить ребенка слышать звуки природы. Прислушайтесь с малышом к звукам леса, а потом расскажите где и что звучит, близко или далеко поет птичка, шуршит листва и т.д. Интересно предложить послушать запись голосов птиц, сначала тех, которые детям знакомы, затем новые голоса.
			</p>
			<p>
				Вот так постепенное приобщение ребенка к миру звуков должно дать понимание того, что музыкальные звуки – это нечто близкое к нему, связанное с его окружением, с природой.
			</p>
			<br>
			<div class="head" style="position: static;">
				<h2 style="font-family: Segoe UI Symbol;">
				🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶
				</h2>
			</div>
			<div class="head" style="position: static;">
				<h2>
					П.Чайковский «Марш деревянных солдатиков»
				</h2>
			</div>
			<p>
				Этот «игрушечный» марш из «Детского альбома» написан композитором с любовью и юмором. В нем изображается войско солдатиков, которые шагают очень легко (они ведь деревянные, легкие, дунь на них – и упадут), и вместе с тем они, как настоящие солдаты, идут в ногу, четко чеканя шаг, смело и решительно. У них есть свой барабанщик, который помогает им держать ритм и идти в ногу. Барабанная дробь слышится в середине пьесы, перед тем как раздаются властные команды, и солдаты перестраиваются. Но вот снова солдатики построились и зашагали все вместе – очень легко и четко.
			</p>	
			<div>
				<ol>
					<i>Варианты заданий</i>
					<li>Помаршировать легко, как деревянные солдатики.</li>
					<li>Оркестровать этот марш, тихонько подыгрывая на барабане.</li>
				</ol>
			</div>			
			<p>
				<i>Ключевые слова:</i> чеканя шаг, четко и легко. 
			</p>
			<figure style="display: flex; flex-direction: column; ">
				<figcaption style="align-self: center;">П.Чайковский «Марш деревянных солдатиков»</figcaption>
				<audio style="align-self: center; width: 500px;" controls src="./source/percept1.mp3" >
					<a href="./source/percept1.mp3">
						Download audio
					</a>
				</audio>
			</figure>
			<br>
			<div class="head" style="position: static;">
				<h2 style="font-family: Segoe UI Symbol;">
				🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶
				</h2>
			</div>
			<div class="head" style="position: static;">
				<h2>
					Р. Шуман - «Смелый наездник»
				</h2>
			</div>
			<p>
				Музыка способна выражать чувства, переживания человека, но 
				она может очень похоже изобразить и картину природы, и пение
				птички или движение всадника. Мелодия изображает скачущего
				всадника (наездника), передает ритм скачки.
				Пьеса Р. Шумана «Смелый наездник» звучит отрывисто, смело, уверенно, 
				с равномерным ритмом, акцентами, изображающими ритмичную, стремительную скачку.
				Внимательно прислушиваясь к ритму и характеру музыки, можно передать в движениях  настроение пьесы.
			</p>
			<p>
				(О.П.Радынова "Слушаем музыку")
			</p>
			<figure style="display: flex; flex-direction: column; ">
				<figcaption style="align-self: center;">Р. Шуман - «Смелый наездник»</figcaption>
				<audio style="align-self: center; width: 500px;" controls src="./source/Р.Шуман Смелый наездник.mp3" >
					<a href="./source/Р.Шуман Смелый наездник.mp3">
						Download audio
					</a>
				</audio>
			</figure>
			<br>
			<div class="head" style="position: static;">
				<h2 style="font-family: Segoe UI Symbol;">
				🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶 🎶
				</h2>
			</div>
			<div class="head" style="position: static;">
				<h2>
					П.И.Чайковский - «Танец Феи Драже» (из балета «Щелкунчик»)
				</h2>
			</div>
			<p>
				Балет не обычный театральный спектакль. Главный рассказчик в нем –
				музыка. В балете герои не произносят ни одного слова, они только танцуют
				под музыку, движениями передавая все её изменения.
			</p>
			<p>
				«Танец Феи Драже» - музыка волшебная, грациозная, нежная, изящная, она
				вся переливается, звенит, искрится светом. Таково необычное звучание у
				музыкального инструмента, который называется челеста. Это французский
				музыкальный инструмент, похожий на фортепиано, но у него нежный и
				звенящий звук. П.И.Чайковский привез этот инструмент в Россию и первым
				из русских композиторов использовал челесту.
			</p>
			<figure style="display: flex; flex-direction: column; ">
				<figcaption style="align-self: center;">П.И.Чайковский - «Танец Феи Драже»</figcaption>
				<audio style="align-self: center; width: 500px;" controls src="./source/П.И.Чайковский-Танец Феи Драже.mp3" >
					<a href="./source/П.И.Чайковский-Танец Феи Драже.mp3">
						Download audio
					</a>
				</audio>
			</figure>
		</div>
	</body>
</html>
