<!DOCTYPE html>
<html>
	<head>
		<title>Музыкально-ритмическая деятельность</title>
		
		<link rel="stylesheet" href="../../../src/style/menu.css">
		<link rel="stylesheet" href="../../../src/style/main.css">

		<script type="text/javascript" src="../../../src/scripts/menuScript.js"></script>
		<script type="text/javascript" src="../../../src/scripts/gallary.js"></script>
		
		<meta charset="UTF-8">
		<meta name="viewport" charset="utf-8" content="width=device-width, inital-scale=1.0">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	
	</head>
	<body>
		<header>
			<h1> Музыкально-ритмическая деятельность </h1>
			<div class="menuButton">
				<input type=”checkbox” name="menuCheckBox" id="menuCheckBox">
				<img id="imgMenu" onclick="openMenuList()" src="../../../src/pict/menu.png" alt="menuButton">
			</div>
			<!-- ------------------------------Бургер меню---------------------- -->	
			<div class="menuList">
				<dl>
				  <dt> <a id="main" 	  href="#">Главная страница</a> </dt>	
				  <dt> <a id="perception" href="#">Восприятие</a> </dt>
				  <dt> <a id="singing"    href="#">Пение</a> </dt>
				  <dt> <a id="musicActiv" href="#">Музыкально-ритмическая деятельность</a> </dt>
				  <dt> <a id="gamesDMI"   href="#">Игра на ДМИ</a> </dt>
				  <dt> <a id="gamesActiv" href="#">Игровая и творческая деятельность</a> </dt>
				  <dt> <a id="quest"  	  href="#">Анкетирование</a> </dt>
				  <dt> <a id="archive"    href="#">Архив</a> </dt>
				  <dt> <a id="contact"    href="#">Обратная связь</a> </dt>
				</dl>
			</div>
			<!-- Изменение ссылок на элементы -->
			<script>
				changeHref();
			</script>
		</header>
		<div class="main" style="top: 100px" >
			<div id="gallery" >
				<div class="row m-0 mb-4">
					<div class="col align-self-center position-relative" style="width: 40px;"> 
						<img style="cursor: pointer; width: 60%;" src="../../source/left-arrow.png" onclick="setPictGallery(0, 'galleryPict')" alt="arrowLeft"> 
					</div>
					<div class="col col-9 p-0" > 
						<img id="galleryPict" style="width: 50%;"class=" justify-self-center" src="" alt="gallaryImage"> 
					</div>
					<div class="col align-self-center position-relative" style="width: 60px;"> 
						<img style="cursor: pointer; width: 60%;" src="../../source/right-arrow.png" onclick="setPictGallery(1, 'galleryPict')" alt="arrowLeft"> 
					</div>
				</div>
			</div>
		</div>
		<script>
			setPictGallery(2, 'galleryPict');
		</script>
	</body>
</html>